*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
} 
 header{
    width:100%;
    background: rgba(18, 117, 171, 1);
}
.header-top{
    width:85%;
    height: 115.9px;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-top ul li a:hover{
    color: rgba(255, 255, 255, 1)
}
.header-top .left-head{
    display: flex;
    align-items: center;
}
.header-top .left-head li{
    padding-left: 40px;
}
.header-top .left-head li a{
   color: rgba(255, 255, 255, 1);
   letter-spacing: 1px;
   font-size: 14px;
   font-weight:300 ;
   text-transform: uppercase;
}
.header-top .left-head li a:hover{
    color:#fff;
    transition: 0.2s;
}
.header-top .left-head li a span i{
    margin-left: 7px;
    font-size: 12px;
}
.dropbtn{
    display: flex;
    height: 115.9px !important;
    align-items: center;
    position: relative;
    top:1.3px;
}
.header-top .logo img{
    width:60px;
    margin-left:10px;
    margin-right: 60px;
}
.header-top .right-head ul{
    display: flex;
} 
.header-top .right-head ul li {
    margin-right: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.header-top .right-head ul li a{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
 }

.dropdown{
    width: 250px;
    padding: 10px 0px;
    height: auto;
    position: absolute;
    background: rgb(59, 158, 211);
    top: 114px;
    left: 26%;
    display: none;
    z-index: 9999;
 }
 .dropdown li{
     line-height: 40px;
 }
 .left-head .dropbtn:hover .dropdown{
     display: block;
 }
 .left-head .dropdown li:hover{
    background: rgb(29, 134, 190);
}
.right-line .number{
    position: absolute;
    height: 15px;
    width: 15px;
    background: rgb(247, 68, 68);
    border-radius: 50%;
    top: 30px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-line .number span{
    z-index: 9999;
     color: #fff;
    font-size: 11px;
    text-align: center;
}
.dropdown-language{
    width: 70px;
    height: auto;
    display: none !important;
    position: absolute;
    top: 70px;
    background: #53b8e5;
    right: 140px;
    padding-bottom: 16px;
    z-index: 999;
    text-align: center;
    padding: 17px 0px 15px;
    border-radius: 2px;
}
.dropdown-language li{
    margin-bottom: 10px;
}
.hover-language:hover .dropdown-language{
    display: block !important;
}

.compare-basket{
    width: 290px;
    height: auto;
    position: absolute;
    z-index: 99999;
    background: #fff;
    right:8%;
    border-radius: 5px;
    padding: 5px;
    display: none;
}
.compare-cards{
   height: 280px;
    overflow: auto;
    padding: 25px 25px 5px;
}

.product-card{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}
.product-card .text-card{
    flex-basis: 47%;
    padding-top: 10px;
    position: relative;
}
.text-card h4{
    font-size: 0.9rem;
}
.text-card p{
    font-size: 0.7rem;
    margin-top:0.5rem;
}
.text-card span{
    position: absolute;
    top: -9px;
    left: -10px
}
.product-card .img-card{
    flex-basis: 47%;
}
.img-card img{
    width:100%;
    object-fit: cover;
    object-position: center;
}
.compare-basket .card-btn a{
   background: rgba(18, 117, 171, 1);
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    width:85%;
    padding:14px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    margin:10px auto;
    justify-content: center;
}
.right-head .right-line:hover .compare-basket{
    display: block;
}

/* main */
main{
    width:100%;
    height: auto;
    background-image: url('../img/kontakt_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 84%;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
    margin-bottom: 170px;
}
.container .item {
    flex-basis:38%;
}
.container .item2 {
    flex-basis:50% !important;
}
.item .text h3{
    font-size: 3rem;
    letter-spacing: 1px;
    color: rgba(35, 35, 35, 1);
    text-transform: uppercase;
}
.mapouter {
    position: relative;
    text-align: center;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
}
 .item2 #gmap_canvas{
    width:100%;
    height: 520px;
    border: none;
}

.item2 .image{
    width:100%;
}
.item2 .image img{
    width: 100%;
}
form{
    margin-top:30px;
}
form p{
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
}
form .inp{
    margin-top:10px;
}
form .inp input{
    width:70%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-left: 5px;
}
form .inp input:focus{
    outline: none;
}
form input::placeholder{
    color: rgba(109, 109, 109, 1);
    font-size:16px;
}
form .inp span{ 
    position: relative;
    left: -25px;
    font-size: 20px;
    cursor: pointer;
}
.contact {
    margin-top:50px;
}
.contact h3{
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}
.contact p a{
    font-size: 16px;
    color: rgba(60, 60, 60, 1);
    margin-bottom: 10px;
}

.openmenu2{
    width: 80%;
    height: auto;
    background: rgba(255, 255, 255, 1);
    z-index: 9999;
}
.openmenu2 h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.openmenu2 p{
    font-size: 14px;
    color: rgba(48, 48, 48, 1);
}
.openmenu2 form{
    margin-top:40px;
} 
.form-group{
    position: relative;
    margin-bottom: 50px;
}
.form-group label{
    left: 4px;
    display: inline-block;
    position: absolute;
    top: -17px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 15px;
}
.form-group input{
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: 1px solid rgb(180, 170, 170);
    padding-left: 5px;
}
.form-group input:focus{
    outline: none;
}
.form-group input::placeholder{
    font-size: 15px;
}
.form-group textarea{
    margin-top:15px;
    width:100%;
    outline: none !important;
    border:1px solid rgb(180, 170, 170);;
}
.form-group textarea:focus{
    outline: none;
    padding:5px 10px;
}
form button{
    background: rgba(18, 117, 171, 1);
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    padding: 12px 35px;
    border-radius: 3px;
    border:none;
    cursor: pointer;
}


/* footer */
footer{
    width:100%;
    height: auto;
    background: rgba(18, 117, 171, 1);
}
.foot-logo{
    width:85%;
    margin:0px auto;
    padding: 20px 0px;
}
.foot{
    width:85%;
    height: auto;
    margin:15px auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.foot .box{
    flex-basis:21%;
    height: auto;
    margin-bottom: 30px;
    border-right: 0.5px solid rgb(58 147 196);
}
.foot .box:nth-last-child(1){
    border-right:none;
}
.foot .box h3{
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 10px;
}
.foot .box p a{
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
}
.foot .box .icons{
    width: 100%;
    padding-top: 15px;
}
.icons a{
    font-size: 20px;
    margin-right: 15px;
    color:#fff;
}
.copyright{
    width:100%;
    padding: 20px 0px;
    background: rgba(16, 99, 144, 1);
    text-align: center;
}
.copyright p{
    font-size:13px;
    color: rgba(255, 255, 255, 1);
}
.mapouter{
    margin-top:8px;
}
.foot .box #gmap_canvas{
    width:100%;
    height: 180px;
    border: none;
}


@media only screen and (max-width: 1024px){
    .container {
        padding-top: 100px;
        width: 90%;
    }
    .container .item {
        flex-basis: 45%;
    }
    .item .text h3 {
        font-size: 30px;
    }
    #gmap_canvas{
        height: 420px;
    }
    /* container */
    .openmenu2{
        width: 80%;  
    }
    
    /* footer */
    .foot .box {
        flex-basis: 43%;
    }
    .foot .box:nth-child(2){
        border-right:none !important;
    }
    .foot .box h3 {
        font-size: 19px;
    }
    .copyright p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 900px){
    .container {
        padding-top: 70px;
        flex-direction: column-reverse;
        width:90%;
        margin:0px auto;
    }
    .container .item {
        flex-basis: 100%;
        margin: 60px 0px;
    }
    .item .text h3 {
        font-size: 25px;
    }
    #gmap_canvas{
        height: 380px;
    }
    .openmenu2 {
        width: 100%;
    }
    
}

@media only screen and (max-width: 600px){
    
.header-top {
    height: 95px;
}
.mobil-logo a img {
    width: 50px;
}
.bar {
    margin-left: 25px;
}
.openmenu ul li a {
    font-size: 0.9rem;
}
.ulmenu li a {
    font-size: 0.7rem !important;
}
.right-line .number {
    top: 20px;
}
.compare-basket {
    width: 270px;
    padding: 0px;
}
.compare-cards {
    height: 275px;
    padding: 20px 20px 5px;
}

/* container */
.container{
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom: 50px;
}
.container .item {
    flex-basis: 90%;
    margin-bottom: 40px;
}
.item .text h3 {
    font-size: 23px;
}
form .inp span {
    font-size: 18px;
}
.contact {
    margin-top: 30px;
}
.contact h3 {
    font-size: 18px;
}
.contact p a {
    font-size: 14px;
}

/* footer */
.foot-logo {
    text-align: center;
}
.foot .box {
    flex-basis: 100%;
    text-align: center;
    border-right: none;
}
.foot .box h3 {
    font-size: 18px;
    padding-bottom: 6px;
}
.foot .box p a {
    font-size: 12px;
    line-height: 28px;
}
.copyright p {
    font-size: 13px;
}
}